/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f8f8f8;
}

.footer-information {
    background-color: #f2f1f1;
    padding-bottom: 20px;
}

.footer-information p {
    color: #7f8c8d;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

body {
    padding-bottom: 70px;
}