body {
    margin-top: 50px;
}

.navbar-default {
    background-color: #1bbc9b;
    border-color: #00a59bff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fffa;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fffa;
}

.add-martop {
    margin-top: 20px;
}

.martop-content {
    margin-top: 40px;
}