/*
Theme Name: Magazine Point
Theme URI: https://axlethemes.com/downloads/magazine-point/
Author: Axle Themes
Author URI: https://axlethemes.com/
Description: Magazine Point is a WordPress magazine theme which is carefully crafted with high quality code, eyecatching design and satisfying features. With Magazine Point you can build any kind of news, magazine, blog website with in minutes and still manage your site to look beautiful like you always wanted. With easy to use features and easily customizable code we won't be wrong if we call this theme one of the best magazine themes. Other than its quality craftmanship the theme uses the best clean SEO practices and is optimized to the highest limit, so it is fast too. Also, we tend to provide best and helpful support if you have any problem with the theme.
Version: 1.0.7
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: magazine-point
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, full-width-template, translation-ready, theme-options, editor-style, threaded-comments, footer-widgets, custom-logo, news, blog

Magazine Point WordPress Theme, Copyright 2017 Axle Themes
Magazine Point is distributed under the terms of the GNU GPL

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*=========================================================

****************** TABLE OF CONTENTS: *********************

===========================================================
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries


==========================================================*/

/*===========================================================
# Normalize
===========================================================*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*===========================================================
# Typography
===========================================================*/

button,
input,
select,
textarea {
    color: #737272;
    font-size: 14px;
    line-height: 1.5;
}

body {
   color: #303030;
    font-size: 17px;
    font-family: 'Gudea',Tahoma,Arial;
    line-height: 1.75;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: 600;
    font-family: 'Magra',sans-serif;
    line-height: 1.5;
}


h1 {
  font-size: 32px;

}

h2 {
  font-size: 28px;

}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*===========================================================
**************************Elements *************************
===========================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background-color: #f1f0f0;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
ul, ol {
    margin: 0 0 0.5em 1em;
    padding: 0;
}
dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

td, th {
    border: 4px double #eaeaea;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}


/*===========================================================
**************************** Forms *************************
===========================================================*/


button, .comment-reply-link,
.comment-reply-link:visited,
a.button, a.button:visited,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #ee3333 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 24px;
}

button:hover,
.comment-reply-link:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #303030;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
    color: #666;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
    outline:none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{
    padding: 6px 0 6px 9px;
}

select {
    width: 100%;
    padding:5px;
}

textarea {
    padding:10px 20px;
    width: 100%;
}
a.button:hover{
    color:#fff;
}

a.button::after,
a.read-more::after,
a.view-more::after {
    content: "\f178";
    font-family: FontAwesome;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 100;
}
a.button:hover::after,
a.read-more:hover::after,
a.view-more:hover::after {
content: "\f00c";
}


a.view-more {
    border-radius: 0;
    color: #ffffff;
    padding: 8px 20px;
    transition: all 0.2s ease 0s;
    display: inline-block;
    margin: 0 5px;
    background: #ee3333;
    font-size: 15px;
    margin-top: 25px;
}

.view-more-wrapper {
    clear: both;
    text-align: center;
}

/*===========================================================
**************************** Links *************************
===========================================================*/

a {
    color: #ee3333;
    text-decoration: inherit;
}

a:visited {
    color: #ee3333;
}

a:hover,
a:focus,
a:active {
    color: #ee3333;
}

a:focus {
    outline:inherit;
}

a:hover,
a:active {
    outline: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
    color: #303030;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active,
h6 a:focus,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus   {
    color: #ee3333;
}
/*===========================================================
*************comment and post navigation ********************
===========================================================*/


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
    clear: both;
}


#infinite-handle{
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
}

#infinite-handle span:hover {
    border:1px solid #ee3333;
    background: #ee3333;
    color: #fff;
}


#infinite-handle span {
    border:1px solid #001837;
    padding: 5px 15px;
    width: auto;
    line-height: 1.5;
    color: #001837;
    display: block;
}


.post-title {
    font-size: 17px;
    margin-top: 15px;
}

.meta-nav {
    background: #ee3333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    padding: 7px 10px;
    text-align: center;
    width: 115px;
}
.navigation .nav-links .nav-next,
.navigation .nav-links .nav-next{
    float: right;
}

.navigation .nav-links .nav-previous,
.navigation .nav-links .nav-previous {
    float: left;
}

.post-navigation a:hover,
.posts-navigation a:hover{
    color:#ee3333;
}
.post-navigation a,
.posts-navigation a {
    padding: 10px 15px;
    display: block;
    color: #303030;
    border: 3px double #f1f0f0;
    margin-bottom: 20px;
}
.navigation,
.pagination {
    margin-top: 15px;
}


.post-navigation .nav-links .nav-next a::after,
.posts-navigation  .nav-next a:after{
    content: "\f178";
    font-family: FontAwesome;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 100;
}
.post-navigation .nav-links .nav-previous a::before,
.posts-navigation  .nav-previous a:before {
    content: "\f177";
    font-family: FontAwesome;
    margin-right: 6px;
    font-size: 12px;
    font-weight: 100;
}

.navigation.pagination .nav-links .page-numbers {
    padding: 5px 10px;
    text-align: center;
    background-color: #fff;
}

.navigation.pagination .nav-links .page-numbers.current,
.navigation.pagination .nav-links a.page-numbers:hover {
    background: #ee3333  none repeat scroll 0 0;
    color: #ffffff;
}

#mobile-trigger,
#mob-menu {
    display: none;
}

/*===========================================================
*************Accessibility ********************
===========================================================*/

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;/* It should be ablolute */
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important; /* It should be clip auto */
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */

}

/*===========================================================
********************** Alignments ********************
===========================================================*/


.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.alignnone{
    clear: both;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;

}

/*===========================================================
********************** Clearings ********************
===========================================================*/

.clear-fix::before,
.clear-fix::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after,
#sidebar-front-page-widget-area::after,
#sidebar-front-page-widget-area::before,
#featured-slider::after,
#featured-slider::before,
#tophead::after,
#tophead::before,
.widget::after,
.widget::before {
    content: "";
    display: table;
    clear:both;
}


/*===========================================================
********************** Widgets ********************
===========================================================*/

.widget {
    margin:30px 0 0;
}
.widget:first-child {
    margin: 0;
}

/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}

#sidebar-front-page-widget-area .widget-title {
    text-align: left;
    margin-bottom: 35px;
    border-bottom: 5px solid #f6f6f6;
    padding-bottom: 15px;
    position: relative;
    font-size: 24px;
}
#sidebar-front-page-widget-area .widget-title:after {
    background: #ee3333;
    position: absolute;
    bottom: -5px;
    content: "";
    width: 50px;
    height: 5px;
    left: 0;
}



/*==========================================================
********************** Content ********************
===========================================================*/

/*==========================================================
********************** Posts and pages ********************
===========================================================*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.article-wrapper {
    padding: 60px 30px 50px 60px;
}
.blog #primary .hentry,
.archive #primary .hentry {
    margin-bottom: 60px;
    border-bottom: 3px double #ddd;
    overflow: hidden;
}
.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-meta {
    margin-top: 15px;
    margin-bottom: 10px;
}

.entry-meta > span {
    margin: 0 25px 0 0;
    font-size: 14px;
    color: #999;
}

.entry-meta > span a {
    color: #999;
}
.entry-meta > span a:hover {
    color:#ee3333;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

footer.entry-footer {
    margin-top: 15px;
    overflow: hidden;
}

.entry-meta > span::before{
    display: inline-block;
    font-family: FontAwesome;
    height: 15px;
    margin-right: 8px;
    content: "";
    color: #666;
}

.entry-meta .byline .author.vcard {
    margin-left: -4px;
}

.entry-meta  .entry-footer span {
    margin-right: 15px;
    float: left;
    display: block;
}

.entry-meta .comments-link::before {
    content: "\f0e6";
}

.entry-meta .posted-on::before{
    content: "\f017 ";
}

.entry-meta  .cat-links::before {
    content: "\f115";
}

.entry-meta .byline::before {
    content: "\f007";
}

.entry-meta  .edit-link::before{
    content: "\f044";
}

.entry-meta .tags-links::before{
    content: "\f02c";
}




/*==========================================================
********************** Asides ********************
===========================================================*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*==========================================================
********************** Comments ********************
===========================================================*/

#respond {
    clear: both;
    display: block;
    float: left;
    width: 97%;
}

#commentform label {
    display: inline-block;
    width: 100px;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area form#commentform p {
    float: left;
    width:100%;
}

.comments-area #commentform p.comment-notes,
.comments-area #commentform p.comment-form-comment {
    width: 100%;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input{
    width: 100%;
}

#tab-reviews .comment-form-author,
#tab-reviews .comment-form-email,
#tab-reviews .comment-form-url{
    width: 100%;
}

.comments-area form#commentform p.logged-in-as {
    width: 100%;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    width: 100%;
    float: left;
}

.comment-list li.comment::after {
    content: inherit;
    display: none;
}

.comment-list li{
    padding-left: 0;
}

.comment {
    background-position: 0 -74px;
    display: block;
    float: left;
    width: 100%;
}

ol.comment-list {
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    overflow: inherit;
    padding: 0;
    width: 100%;
}

ol.comment-list .children {
    border: medium none;
    float: left;
    margin: 15px 0 15px 15px;
    width: 98%;
}

ol.children #respond {
    margin-top: 30px;
}

ol.comment-list li {
    list-style: outside none none;
    margin-bottom: 15px;
}

.comment .comment-body {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 0;
    clear: both;
    display: block;
    float: left;
    margin-top: 25px;
    padding: 20px 30px 20px 30px;
    position: relative;
    text-align: left;
    width: 100%;
}

.comment-author.vcard {
    font-size: 20px;
    margin-bottom: 5px;
}

.comment-list .children {
    background-position: left 20px;
    background-repeat: no-repeat;
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: 0;
    padding-left: 40px;
}

.comment-list li.comment > div img.avatar {
    left: 29px;
    position: absolute;
    top: 29px;
}

#comment-form-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.vcard .avatar {
    float: left;
    margin: 7px 15px 15px 0;
}

.comment-metadata {

    margin-bottom: 10px;
}

.comment-reply-link {
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 1px 15px 3px;
    border-radius: 2px;
}

a.comment-reply-link:hover {
    color: #fff;
}

.form-allowed-tags code {
    white-space: inherit;
    word-wrap: break-word;
}

.comment-respond label {
    display: block;
    font-weight: normal;
}

#comments {
    clear: both;
    padding-top: 30px;
    overflow: hidden;
    border-top: 2px solid #f1f0f0;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#commentform label {
    display: inline-block;
    width: 100px;
}

.authorbox {
    overflow: hidden;
    padding: 40px 40px 35px;
    border-bottom: 1px solid #f7f7f7;
    border: 1px solid #f7f7f7;
    background: #fff;
}
.authorbox h4.author-header {
    margin-bottom: 5px;
}

.authorbox  .author-header > a {
    margin-left: 5px;
}

.authorbox  .author-avatar {
    float: left;
    margin-right: 15px;
}

.comment-metadata > span,
.comment-metadata > a {
    margin: 0 25px 0 0;
    font-size: 14px;
    color: #999;
}
.comment-metadata > span::before,
.comment-metadata > a::before  {
    display: inline-block;
    font-family: FontAwesome;
    height: 15px;
    margin-right: 5px;
    content: "";
    color: #666;
}
.comment-metadata > a::before {
    content: "\f017 ";
}
.comment-metadata .edit-link::before {
    content: "\f044";
}
/*==========================================================
********************** Infinite scroll ********************
===========================================================*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*==========================================================
********************** Media ********************
===========================================================*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*==========================================================
********************** Captions ********************
===========================================================*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}


/*==========================================================
********************** Galleries ********************
===========================================================*/

.gallery {
    margin-bottom: 1.5em;
    margin-left: -5px;
    margin-right: -5px;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    padding: 5px;
}

.gallery-item img {
    vertical-align: middle;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
/*===========================================================
**************************** Social Links *********************
===========================================================*/

.magazine_point_widget_social {
    clear: both;
    overflow: hidden;
}

.magazine_point_widget_social ul {
    margin: 0;
}

.magazine_point_widget_social li a {
    background-color: #303030;
    border: medium none;
    display: inline-block;
    height: 32px;
    line-height: 1.7;
    margin-right: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 32px;
    margin-bottom: 5px;
}

.magazine_point_widget_social li {
    display: block;
    float: left;
    margin-right: 5px;
}

.widget-area .magazine_point_widget_social li,
#footer-widgets .magazine_point_widget_social li {
    padding: 0;
}

.widget-area .magazine_point_widget_social li::before,
#footer-widgets .magazine_point_widget_social li::before {
    display: none;
}

.magazine_point_widget_social li a i {
    color:#cacad8;
    font-size: 18px;
    font-weight: normal;
}

.magazine_point_widget_social ul li a::before {
    color: #ffffff;
    content: "\f0c1";
    display: block;
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 2.3;
    font-size: 14px;
}

.magazine_point_widget_social ul li a:hover {
    background-color:#cacad8;
}

.magazine_point_widget_social ul li a:hover::before {
    color: #fff;
}

.magazine_point_widget_social ul li a[href*="facebook.com"]::before {
    content: "\f09a";
}

.magazine_point_widget_social ul li a[href*="twitter.com"]::before {
    content: "\f099";
}

.magazine_point_widget_social ul li a[href*="linkedin.com"]::before {
    content: "\f0e1";
}

.magazine_point_widget_social ul li a[href*="plus.google.com"]::before {
    content: "\f0d5";
}

.magazine_point_widget_social ul li a[href*="youtube.com"]::before {
    content: "\f167";
}

.magazine_point_widget_social ul li a[href*="dribbble.com"]::before {
    content: "\f17d";
}

.magazine_point_widget_social ul li a[href*="pinterest.com"]::before {
    content: "\f0d2";
}

.magazine_point_widget_social ul li a[href*="bitbucket.org"]::before {
    content: "\f171";
}

.magazine_point_widget_social ul li a[href*="github.com"]::before {
    content: "\f113";
}

.magazine_point_widget_social ul li a[href*="codepen.io"]::before {
    content: "\f1cb";
}

.magazine_point_widget_social ul li a[href*="flickr.com"]::before {
    content: "\f16e";
}

.magazine_point_widget_social ul li a[href$="/feed/"]::before {
    content: "\f09e";
}

.magazine_point_widget_social ul li a[href*="foursquare.com"]::before {
    content: "\f180";
}

.magazine_point_widget_social ul li a[href*="instagram.com"]::before {
    content: "\f16d";
}

.magazine_point_widget_social ul li a[href*="tumblr.com"]::before {
    content: "\f173";
}

.magazine_point_widget_social ul li a[href*="reddit.com"]::before {
    content: "\f1a1";
}

.magazine_point_widget_social ul li a[href*="vimeo.com"]::before {
    content: "\f194";
}

.magazine_point_widget_social ul li a[href*="digg.com"]::before {
    content: "\f1a6";
}

.magazine_point_widget_social ul li a[href*="twitch.tv"]::before {
    content: "\f1e8";
}

.magazine_point_widget_social ul li a[href*="stumbleupon.com"]::before {
    content: "\f1a4";
}

.magazine_point_widget_social ul li a[href*="delicious.com"]::before {
    content: "\f1a5";
}

.magazine_point_widget_social ul li a[href*="mailto:"]::before {
    content: "\f0e0";
}
.magazine_point_widget_social ul li a[href*="soundcloud.com"]::before {
    content: "\f1be";
}
.magazine_point_widget_social ul li a[href*="wordpress.org"]::before {
    content: "\f19a";
}
.magazine_point_widget_social ul li a[href*="wordpress.com"]::before {
    content: "\f19a";
}

.magazine_point_widget_social ul li a[href*="jsfiddle.net"]::before {
    content: "\f1cc";
}

.magazine_point_widget_social ul li a[href*="tripadvisor.com"]::before {
    content: "\f262";
}

.magazine_point_widget_social ul li a[href*="foursquare.com"]::before {
    content: "\f180";
}

.magazine_point_widget_social ul li a[href*="angel.co"]::before {
    content: "\f209";
}

.magazine_point_widget_social ul li a[href*="slack.com"]::before {
    content: "\f198";
}

/*social links hover effect */

.magazine_point_widget_social ul li a[href*="facebook.com"]:hover {
    background-color: #3b5998;
}

.magazine_point_widget_social ul li a[href*="twitter.com"]:hover {
    background-color: #00aced;
}

.magazine_point_widget_social ul li a[href*="plus.google.com"]:hover {
    background-color: #dd4b39;
}

.magazine_point_widget_social ul li a[href*="/feed/"]:hover  {
    background-color: #dc622c;
}

.magazine_point_widget_social ul li a[href*="wordpress.org"]:hover {
    background-color: #21759b;
}

.magazine_point_widget_social ul li a[href*="github.com"]:hover {
    background-color: #4183c4;
}

.magazine_point_widget_social ul li a[href*="linkedin.com"]:hover {
    background-color: #007bb6;
}

.magazine_point_widget_social ul li a[href*="pinterest.com"]:hover {
    background-color: #cb2027;
}

.magazine_point_widget_social ul li a[href*="flickr.com"]:hover {
    background-color: #ff0084;
}

.magazine_point_widget_social ul li a[href*="vimeo.com"]:hover {
    background-color: #aad450;
}

.magazine_point_widget_social ul li a[href*="youtube.com"]:hover {
    background-color: #bb0000;
}

.magazine_point_widget_social ul li a[href*="instagram.com"]:hover {
    background-color: #517fa4;
}

.magazine_point_widget_social ul li a[href*="dribbble.com"]:hover {
    background-color: #ea4c89;
}

.magazine_point_widget_social ul li a[href*="skype.com"]:hover {
    background-color: #12a5f4;
}

.magazine_point_widget_social ul li a[href*="digg.com"]:hover {
    background-color: #001936;
}

.magazine_point_widget_social ul li a[href*="codepen.io"]:hover {
    background-color: #000;
}

.magazine_point_widget_social ul li a[href*="reddit.com"]:hover {
    background-color: #ff4500;
}

.magazine_point_widget_social ul li a[href*="mailto:"]:hover {
    background-color: #1d62f0;
}

.magazine_point_widget_social ul li a[href*="foursquare.com"]:hover {
    background-color: #f94877;
}

.magazine_point_widget_social ul li a[href*="stumbleupon.com"]:hover {
    background-color: #eb4924;
}

.magazine_point_widget_social ul li a[href*="twitch.tv"]:hover {
    background-color: #6441a5;
}

.magazine_point_widget_social ul li a[href*="tumblr.com"]:hover {
    background-color: #32506d;
}

.magazine_point_widget_social ul li a[href*="foursquare.com"]:hover {
    background-color: #f94877;
}

.magazine_point_widget_social ul li a[href*="stumbleupon.com"]:hover {
    background-color: #eb4924;
}

.magazine_point_widget_social ul li a[href*="twitch.tv"]:hover {
    background-color: #6441a5;
}

.magazine_point_widget_social ul li a[href*="tumblr.com"]:hover {
    background-color: #32506d;
}

.magazine_point_widget_social ul li a[href*="soundcloud.com"]:hover {
    background-color: #ff5500;
}

.magazine_point_widget_social ul li a[href*="wordpress.org"]:hover {
    background-color:#21759b;
}

.magazine_point_widget_social ul li a[href*="jsfiddle.net"]:hover {
    background-color:#4679bd;
}

.magazine_point_widget_social ul li a[href*="tripadvisor.com"]:hover {
    background-color:#86c171;
}

.magazine_point_widget_social ul li a[href*="foursquare.com"]:hover {
    background-color:#2d5be3;
}

.magazine_point_widget_social ul li a[href*="angel.co"]:hover {
    background-color:#000;
}

.magazine_point_widget_social ul li a[href*="slack.com"]:hover {
    background-color:#56b68b;
}


/*==========================================================
********************** Page ********************
===========================================================*/

#page {
    position: relative;
    margin: 0 auto;
}

.site-layout-boxed #page {
    box-shadow: 0 0 2px #aaa;
    width: 1280px;
    margin-top: 35px;
    margin-bottom: 35px;
    background: #fff;
}

.site-layout-boxed #tophead .container {
    padding: 0 30px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%;
}

.inner-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}


/*==========================================================
********************** Header Style ********************
===========================================================*/

#tophead {
    background-color: #303030;
    clear: both;
    width: 100%;
    padding: 5px 0;
    position: relative;
}

#tophead .magazine_point_widget_social li a {
    margin:0;
}

.right-head {
    float: right;
    padding: 35px 0;
    margin-left: 15px;
}

.cart-section {
    float: right;
    margin-right: 20px;
    position: relative;
}

.cart-section i.fa.fa-shopping-cart {
    font-size: 22px;
}

.cart-section span.cart-value {
    position: absolute;
    top: -18px;
    left: 3px;
    background: #ee3333;
    color: #fff;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
    font-size: 12px;
    text-align: center;
}

.header-social {
    float: right;
    margin-top: 20px;
    padding: 0 15px;
}

#masthead {
    clear: both;
    top: 14px;
    width: 100%;
    z-index: 99999;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 40px 0;
    background: #f5f5f5;

}
/*sticky menu*/

.enabled-sticky-primary-menu .main-nav.fixed {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.custom-logo-link {
    float: left;
    max-width: 300px;
    margin-right: 15px;
    display: inline-block;
}
.site-branding {
    color: #303030;
    float: left;
    font-size: 36px;
    font-weight: 500;
    line-height: 0.8;
    margin-bottom: 0;
    margin-right: 30px;
}

#site-identity {
    float: left;
}

.site-branding a {
    color: #001936;
}

.site-branding a:hover {
    color: #ee3333;
}


.site-title {
    font-size: 35px;
    font-weight: 700;
    float: left;
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: 'Magra',sans-serif;
}

.site-description {
    font-size: 18px;
    font-style: inherit;
    font-weight: 400;
    clear: both;
    color: #aaa;
    line-height: 0.5;
}

.header-ads-disabled .site-branding,
.header-ads-disabled .site-title,
.header-ads-disabled #site-identity,
.header-ads-disabled .custom-logo-link {
    float: none;
   text-align: center;
}

.header-ads-area .widget_media_image{
    position: relative;
}

.header-ads-area .widget_media_image .widget-title {
    position: absolute;
    top: 24px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
}

.header-ads-area {
    float: right;
}

.header-ads-area img {
    vertical-align: middle;
}

.top-news {
    float: left;
    margin: 5px 0 5px;
}

.top-news-title {
    background: #ffffff none repeat scroll 0 0;
    color: #303030;
    display: block;
    float: left;
    font-size: 15px;
    padding: 0px 15px 1px;
    position: relative;
    text-transform: capitalize;
}

.top-news-title:before {
    content: "\f0a1";
    font-size: 17px;
    float: right;
    margin-top: 5px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    float: left;
    margin-right: 10px;
    color: #ee3333;
}

#notice-ticker,
.top-news a {
    color: #f9f9f9;
    float: left;
    padding: 0 10px;
    max-width: 400px;
    font-size: 15px;
    overflow: hidden;
}
.top-news a:hover {
    color:#fff;
}
#notice-ticker {
    max-height: 23px;
}

#header-social {
    float: right;
}

.right-tophead {
    float: right;
    margin-top: 5px;
}

.header-search-box {
    float: right;
}

.header-search-box > a {
    display: block;
    height: 48px;
    width: 32px;
    padding: 13px 0;
    display: block;
    float: right;
    text-align: center;
    font-size: 13px;
    margin: -10px 0;
    color: #fff;
    background: #ee3333;
}

.header-search-box > a:hover {
    color: #303030;
    background: #f5f5f5;
}

.header-search-box .search-box-wrap {
    background: rgba(51, 51, 51, 0.99) none repeat scroll 0 0;
    top: 48px;
    box-shadow: 0 2px 2px #666;
    display: none;
    padding: 30px 240px;
    position: absolute;
    right: 7%;
    width: 100%;
    z-index: 9999;
    right: 0;
}

.right-head .header-search-box .search-box-wrap {
    width:300px;
}

.search-form input.search-field {
    border: 1px solid #dddddd;
    height: 15px;
    padding: 10px 9% 10px 10px;
    width: 82%;
    font-size: 15px;
    background: #f5f5f5;
}

.search-box-wrap .search-form input.search-field {
    border: none;
    height: 30px;
    padding-left: 30px;
}

.search-box-wrap .search-form .search-submit {
    height: 50px;
}

.search-form {
    position: relative;
}

.search-form .search-submit {
    border: medium none;
    border-radius: 0;
    font-size: 13px;
    height: 37px;
    line-height: 1.8;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-family: FontAwesome;
}

/*quick contact*/

#quick-contact {
    float: left;
    margin-top: 0;
}

#quick-contact > ul {
    margin: 0;
    padding: 0;
}

#quick-contact a {
    color: #ffffff;
    display: inline-block;
    padding: 11px 5px;
}

#quick-contact li.quick-email::before {
    content: "\f0e0";
}

#quick-contact li.quick-call::before {
    content: "\f2a0";
}

#quick-contact li::before {
    color: #fff;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 6px;
    padding: 8px 0;
    text-align: center;
    width: 29px;
    border: 1px solid #606765;
    text-align: center;
}

#quick-contact li {
    clear: inherit;
    float: left;
    font-size: 14px;
    line-height: 0.8;
    list-style: outside none none;
    margin-top: 5px;
    padding: 0 5px 5px 0;
    text-align: left;
    margin-right: 15px;
}

/*===========================================================
**************************** Navigation *********************
===========================================================*/

#main-nav {
    background: #303030;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
    max-width: 100%;
}

.main-navigation ul {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-navigation ul ul {
    position: absolute;
    top: 100%;
    left: -2px;
    z-index: 1000;
    min-width: 235px;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    display: block;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.2s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease;
    background-color: #fdfdfd;
    box-shadow: 0 1px 2px #aaa;
}

.main-navigation ul li:hover > ul.sub-menu{
    display: block;
    opacity: 1;
    z-index: 1000;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: transform 0.3s ease, opacity 0.2s ease .1s;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease .1s;
}

.main-navigation ul ul ul {
    left:100%;
    top: 0
}

.main-navigation li {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
}

.main-navigation li li {
    float: none;
    display: block;
}

.main-navigation ul ul li > a {
    border-left: none;
    border-right:none;
    margin:0;
}

.main-navigation ul li:first-child > a{
    border-left: 1px solid rgba(255, 255, 255, 0.14);
}

.main-navigation ul li a {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 15px 25px;
    position: relative;
    z-index: 99;
    font-family: 'Magra',sans-serif;
    border-right: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: -2px;
    margin-right: -2px;
}

.main-navigation ul ul a {
    border-bottom: 1px dashed rgba(177, 173, 173, 0.1);
    border-left: medium none;
    border-right: medium none;
    height: auto;
    padding: 12px 20px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    color: #303030;
}

.main-navigation ul ul li:last-child a {
    border: none;
}

.main-navigation ul li.menu-item-has-children > a::after,
.main-navigation ul li.page_item_has_children > a::after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 15px;
}

.main-navigation ul li li.menu-item-has-children > a::after,
.main-navigation ul li li.page_item_has_children > a::after {
    content: "\f105";
    top: 10px;
}

.main-navigation ul li.menu-item-has-children a,
.main-navigation ul li.page_item_has_children a {
    padding-right: 30px;
}

.main-navigation li a:hover, .main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a, .main-navigation li:hover > a {
    background: #e33;
    color: #ffffff;
}

.main-navigation .menu-toggle,
.main-navigation .dropdown-toggle {
    display: none;
}


/*--------------------------------------------------------------
## Featured News style
--------------------------------------------------------------*/

#featured-news {
    padding: 40px 0;
    background: #f5f5f5;
    clear: both;
}
#featured-news:after,
#featured-news:before {
    content: "";
    display: table;
    clear:both;
}

#featured-news .featured-news-item{
    float: left;
    width: 25%;
    position: relative;
}

#featured-news .featured-news-item.main-featured-news-item {
    width: 50%;
}

#featured-news .featured-news-wrapper{
    position: relative;
}

#featured-news .featured-news-wrapper img {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin-bottom: 0;
}

#featured-news .featured-news-wrapper:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

#featured-news .featured-news-thumb {
    overflow: hidden;
}

#featured-news .featured-news-text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:20px 25px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat scroll 0 0;

}

#featured-news .main-featured-news-item .featured-news-text-content {
    padding:40px 50px;
}

#featured-news .featured-news-title a {
    color:#fff;
}

#featured-news .featured-news-meta.entry-meta {
    margin: 0;
    color: #fff;
}

#featured-news .featured-news-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

#featured-news .main-featured-news-item  .featured-news-title {
    font-size: 26px;
}

#featured-news .featured-post-category a {
    background: #ee3333;
    padding: 1px 8px;
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
}

#featured-news .featured-news-title a:hover{
    color:#ddd;
}

#featured-news .main-featured-news-item .featured-post-category a {
    background: #227b13;
}

#featured-news .featured-news-item span.featured-post-category a:hover {
    background:#303030;
}

#featured-news .featured-news-item:nth-child(2n) .featured-post-category a {
    background: #00b9eb;
}

#featured-news .featured-news-item:nth-child(4n) .featured-post-category a {
    background: #ff9223;
}

#featured-news .featured-news-item:nth-child(5n) .featured-post-category a {
    background: #92328f;
}

#featured-news .entry-meta > span,
#featured-news .entry-meta > span::before,
#featured-news .entry-meta > span a {
    color: #fff;
}

#featured-news .entry-meta {
    display: none;
}

#featured-news .featured-news-item.main-featured-news-item .entry-meta {
    display: block;
}
/*===========================================================
**************************** Main Content *******************
===========================================================*/

#primary {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

#main {
    background: #fdfdfd;
    padding: 20px;
    overflow: hidden;
}
#main #sidebar-front-page-widget-area {
    background: #fdfdfd;
    padding: 20px;
}

.home.page #main {
    background:inherit!important;
    padding: 0;
}
.home #main .magazine_point_widget_posts_slider {
    background: none;
    padding: 0;
}

#content {
    clear: both;
    padding: 50px 0;
}

#featured-news .featured-news-item {
    float: left;
    width: 25%;
    position: relative;
    padding: 13px 15px;
}

#primary img.magazine-point-post-thumb {
    vertical-align: middle;
}
#primary img.magazine-point-post-thumb.aligncenter {
    margin-bottom: 0;
}
#primary img.magazine-point-post-thumb.alignleft {
    margin-right: 25px;
    margin-bottom: 60px;
}
#primary img.magazine-point-post-thumb.alignright {
    margin-left: 25px;
    margin-bottom: 60px;
}
.article-wrapper.img-alignleft, .article-wrapper.img-alignright {
    padding: 0;
    margin: 0 0 60px 0;
}
/*===========================================================
**************************** Sidebar *******************
===========================================================*/

.sidebar {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-widget-wrapper .widget {
    padding: 20px;
    background: #fdfdfd;
}

.page-header {
    margin-bottom: 25px;
}

h1.entry-title {
    margin-bottom: 0;
}

.sidebar .widget-title {
    border-bottom: 5px solid #f6f6f6;
    padding-bottom: 15px;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sidebar .widget-title:after {
    background: #ee3333;
    position: absolute;
    bottom: -5px;
    content: "";
    width: 50px;
    height: 5px;
    left: 0;
}

.sidebar .entry-meta > span {
    font-size: 14px;
}

#sidebar-primary {
    float: right;
}

.sidebar a.read-more {
    font-size: 13px;
}

.sidebar a.read-more::before {
    font-size: 10px;
}

#sidebar-secondary {
    float: left;
}

.widget-area .widget::after,
.widget-area .widget::before {
    clear: both;
    content: "";
    display: table;
}

.widget-area ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}

.widget-area ul ul {
    border-bottom:none;
    padding-bottom: 0;
}

.widget-area ul li {
    position: relative;
    padding: 3px 0 3px 25px;
    font-size: 16px;
}

.widget-area ul li::before {
    content: "\f178";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 9px;
}

.sidebar .widget_archive ul li::before,
.sidebar .widget_categories ul li::before,
.sidebar .widget_pages ul li::before,
.sidebar .widget_meta ul li::before,
.sidebar .widget_recent_comments ul li::before,
.sidebar .widget_recent_entries ul li::before,
.sidebar .widget_tag_cloud ul li::before,
.sidebar .widget_rss ul li::before {
    background: inherit;
    transform: inherit;
    margin-right: 20px;
    color: #bdbbbb;
    font-size: 12px;
}

.sidebar .widget_archive ul li::before {
    content: "\f0c6";
    font-size: 16px;
    top: 5px;
    left: 0px;
}
.sidebar .widget_categories ul li::before {
    content: "\f115";
}

.sidebar .widget_pages ul li::before {
    content: "\f15b";
}

.sidebar .widget_meta ul li::before {
    content: "\f0c1";
}

.sidebar .widget_recent_comments ul li::before {
    content: "\f086";
}

.sidebar .widget_recent_entries ul li::before {
    content: "\f02b";
}

.sidebar .widget_rss ul li::before  {
    content: "\f09e";
}

.sidebar .widget_tag_cloud ul li::before  {
    content: "\f0c2";
}

.widget-area ul li a {
    color: #303030;
}
.widget-area ul li a:hover {
    color:#ee3333;
}
.widget-area ul ul ul ul ul > li {
    padding-left: 0;
}

.widget-area ul ul ul ul ul > li::before {
    left:-20px;
}

.widget_calendar caption {
    background: #616161 none repeat scroll 0 0;
    color: #ffffff;
    padding: 5px;
}

.widget_tag_cloud .tagcloud a {
    padding: 3px 10px;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 15px!important;
    margin-bottom: 6px;
    color: #303030!important;
    background: #eee;
    margin-right: 2px;
}
.widget_tag_cloud .tagcloud a:hover {
    background-color:#ee3333;
    color:#fff!important;
    border-color:#ee3333;
}

/*===========================================================
**************************** Footer *******************
===========================================================*/

#colophon {
    background-color: #2a2a2a;
    clear: both;
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
}

#colophon a {
    color:#ccc;
}

#colophon a:hover {
    color:#ee3333;
}

#colophon .copyright {
    margin-bottom: 5px;
    float: left;
}

#colophon .site-info {
    float: right;
}

/*===========================================================
**************************** Footer Widgets *****************
===========================================================*/

#footer-widgets {
    background: #232323;
    overflow: hidden;
    padding: 70px 0;
    color: rgba(255, 255, 255, 0.75);
}

#footer-widgets ul {
    list-style: none;
    margin: 0;
}

#footer-widgets ul li {
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 5px 15px 0 20px;
    position: relative;
}

#footer-widgets ul li::before {
    color: rgba(255, 255, 255, 0.75);
    content: "\f178";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 10 px;
    font-weight: 100;
}

#footer-widgets a:hover {
    color:#ee3333;
}

#footer-widgets .widget-column {
    float: left;
    padding: 0 25px;
    width: 25%;
}

#footer-widgets a {
    color:rgba(255, 255, 255, 0.75);
}

#footer-widgets .footer-active-1 {
    width: 100%;
}

#footer-widgets .footer-active-2 {
    width: 50%;
}

#footer-widgets .footer-active-3 {
    width: 33.33%;
}

#footer-widgets .footer-active-4 {
    width: 25%;
}

#footer-widgets .widget-column {
    float: left;
    padding: 0 20px;
}

#footer-widgets .widget-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 3px solid #f6f6f6;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}


#footer-widgets .widget-title::after {
    content: "";
    display: block;
    background: #ee3333;
    width: 20%;
    height: 3px;
    margin-bottom: 20px;
    position: absolute;
    bottom: -23px;
}

/*===========================================================
*********************** Footer Navigation *****************
===========================================================*/

#footer-navigation li {
    display: inline-block;
    list-style: outside none none;
}

#footer-navigation {
    border-bottom: 1px solid #383737;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#footer-navigation li a {
    display: block;
    padding: 5px 10px;
    border-left: 1px solid rgba(170, 170, 170, 0.52);
    line-height: 0;
    font-size: 15px;
}

#footer-navigation li:first-child a {
    border:none;
}

#footer-navigation ul {
    margin: 0;
}

/*Scrollup Style*/

.scrollup {
    background-color: #ee3333;
    bottom: 50px;
    color: #ffffff;
    display: none;
    float: right;
    line-height: 1.2;
    padding: 5px 10px;
    position: fixed;
    right: 15px;
    text-align: center;
}

.scrollup:hover {
    background-color:ffbe00;
}

.scrollup i {
    color:#fff;
    font-size:32px;
}


/*===========================================================
*********************** layout sidebar *****************
===========================================================*/


.global-layout-left-sidebar #primary {
    float: right;
    border-right: inherit;
    border-bottom: inherit;
}

.global-layout-three-columns-pcs-equal #primary {
    border-left: inherit;
}

.global-layout-three-columns-scp-equal #primary {
    border-bottom:inherit;
}

.three-columns-enabled #primary {
    display: inline-block;
    float: none;
    width: 50%;
}

.three-columns-enabled .sidebar {
    float: right;
    width: 25%;
}

.global-layout-no-sidebar #primary{
    width: 100%;
    border:inherit;
}

.global-layout-three-columns-pcs #sidebar-primary,
.global-layout-three-columns-cps #sidebar-primary,
.global-layout-three-columns-psc #sidebar-primary {
    float: left;
}

.global-layout-three-columns-pcs #sidebar-secondary,
.global-layout-three-columns-cps #sidebar-secondary {
    float: right;
}

.global-layout-three-columns-cps #primary {
    float: left;
}

/* equal global layout*/

.global-layout-three-columns-pcs-equal #primary,
.global-layout-three-columns-pcs-equal #sidebar-primary,
.global-layout-three-columns-pcs-equal #sidebar-secondary,
.global-layout-three-columns-scp-equal #primary,
.global-layout-three-columns-scp-equal #sidebar-primary,
.global-layout-three-columns-scp-equal #sidebar-secondary {
    width: 33.33%;
}

.global-layout-three-columns-pcs-equal #sidebar-primary {
    float: left;
}

.global-layout-three-columns-pcs-equal #sidebar-secondary {
    float: right;
}
/*===========================================================
*********************** Inner Pages  *****************
===========================================================*/

/*===========================================================
*********************** Breadcrumb  *****************
===========================================================*/
#breadcrumb {
    background: #fdfdfd none repeat scroll 0 0;
    padding: 15px 0;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
}
#breadcrumb li {
    display:inline-block;
    list-style: outside none none;
    padding-right: 10px;
}
#breadcrumb li a {
    color: #a29a9a;
}
#breadcrumb li a:hover {
    color: #ee3333;
}
#breadcrumb li.trail-item.trail-end::after {
    display: none;
}

#breadcrumb ul {
    margin:0;
    padding: 0;
}

#breadcrumb li::after {
    content: "\f105";
    margin-left: 15px;
    color: #bbb3b9;
    font-family: FontAwesome;
}

#breadcrumb  .trail-items {
    margin: 0;
    padding: 0;
}

/*===========================================================
*********************** Error 404 Page  *****************
===========================================================*/


section.error-404 {
    text-align: center;
}

#quick-links-404 ul li {
    display: inline-block;
    list-style: outside none none;
}

#quick-links-404 ul li a {
    color: #404040;
    display: block;
    padding: 5px 10px;
}

.error404 #primary {
    width: 100%;
}

.error404 .search-form {
    max-width: 300px;
    margin: 10px auto;
}

/*contact form 7*/

.wpcf7-form {
    max-width: 875px;
}

div.wpcf7 {
    margin: 0 auto;
    padding: 0;
}

.wpcf7 input {
    width: 100%;
}

.wpcf7 input.wpcf7-submit {
    width: auto;
}


/*--------------------------------------------------------------
### Advanced recent post
--------------------------------------------------------------*/

.magazine_point_widget_recent_posts_extended .recent-posts-extended-item {
    clear: both;
    margin-top: 20px;
    float: left;
    width: 100%;
    border-bottom: 1px dashed #efefef;
    margin-top: 10px;
    padding-bottom: 10px;
}

.magazine_point_widget_recent_posts_extended .recent-posts-extended-text-wrap {
    display: table-cell;
}

.magazine_point_widget_recent_posts_extended .recent-posts-extended-title {
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 500;
}

.magazine_point_widget_recent_posts_extended .entry-meta {
    margin-top: 5px;
    margin-bottom: 5px;
}

.magazine_point_widget_recent_posts_extended .recent-posts-extended-date {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
}

.magazine_point_widget_recent_posts_extended .recent-posts-extended-date::before{
    display: inline-block;
    font-family: FontAwesome;
    height: 15px;
    margin-right: 8px;
    content:"\f017";
    color: #666;
    font-size: 12px;
}


/*--------------------------------------------------------------
### Widget  post slider widget style
--------------------------------------------------------------*/
.magazine_point_widget_posts_slider {
    clear: both;
    position: relative;
    z-index: 999;
}

.magazine_point_widget_posts_slider img {
    width: 100%;
    vertical-align: middle;
}

.magazine_point_widget_posts_slider article {
    width: 100%;
    display: none;
}

.magazine_point_widget_posts_slider article.first {
    display: block;
}

.magazine_point_widget_posts_slider .cycle-slideshow {
    margin-bottom: 0;
    padding: 0;
}

.magazine_point_widget_posts_slider .slide-caption {
    bottom: 77px;
    left: 0;
    max-width: 77%;
    position: absolute;
    right: 0;
    white-space: normal;
    width: 700px;
    z-index: 9999;
    text-align: center;
    bottom: 50px;
    padding: 20px 30px;
    background: rgba(34, 34, 34, 0.5);
    border-left: 5px solid #ee3333;
}

.magazine_point_widget_posts_slider h3 {
    font-size: 27px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 500;
}

.magazine_point_widget_posts_slider h3 a  {
    color: #fff;
}

.magazine_point_widget_posts_slider p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
}

.magazine_point_widget_posts_slider article:before  {
    content: "";
    opacity: 0.6;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 991;
    width: 100%;
}

/*slider pager box*/

.magazine_point_widget_posts_slider .cycle-pager {
    bottom:0;
    right: 20px;
    position: absolute;
    z-index: 999;
    text-align: center;
}

.magazine_point_widget_posts_slider .pager-box {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 9px;
    margin: 6px 5px;
    width: 15px;
    z-index: 99;
}

.magazine_point_widget_posts_slider .pager-box.cycle-pager-active,
.magazine_point_widget_posts_slider .pager-box:hover {
    background-color: #ee3333 ;
}

/*Slider cycle next / previous*/

.magazine_point_widget_posts_slider .cycle-prev,
.magazine_point_widget_posts_slider .cycle-next {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 0.8;
    padding: 8px 15px;
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 20px;
    background: #ee3333  none repeat scroll 0 0;

}

.magazine_point_widget_posts_slider .cycle-prev:hover,
.magazine_point_widget_posts_slider .cycle-next:hover {
    background: #303030 none repeat scroll 0 0;
}

.magazine_point_widget_posts_slider .cycle-prev {
    right: 70px;
}

.magazine_point_widget_posts_slider .cycle-next {
    right:20px;
}

.magazine_point_widget_posts_slider .cycle-prev i,
.magazine_point_widget_posts_slider .cycle-next i {
    font-size: 25px;
}

.magazine_point_widget_posts_slider .slider-buttons a {
    border: 2px solid rgba(255, 255, 255, 0.87);
    color: #ffffff;
    display: inline-block;
    font-size: 19px;
    line-height: 1.5;
    margin: 6px 15px 0;
    padding: 8px 20px;
    min-width: 125px;
    font-size: 15px;
    text-transform: uppercase;
}

.magazine_point_widget_posts_slider .cycle-slide.cycle-slide-active{
    z-index:150 !important;
}

/*sidebar and footer widget*/
.sidebar .magazine_point_widget_posts_slider h3,
#footer-widgets .magazine_point_widget_posts_slider h3 {
    font-size: 14px;
}

.sidebar  .magazine_point_widget_posts_slider .slide-caption,
#footer-widgets  .magazine_point_widget_posts_slider .slide-caption {
    max-width: 100%;
    bottom: 0;
    padding: 10px 15px;
}

.sidebar .magazine_point_widget_posts_slider .cycle-prev i,
.sidebar .magazine_point_widget_posts_slider .cycle-next i,
#footer-widgets .magazine_point_widget_posts_slider .cycle-prev i,
#footer-widgets .magazine_point_widget_posts_slider .cycle-next i {
    font-size: 16px;
}
.sidebar .magazine_point_widget_posts_slider .cycle-prev,
.sidebar .magazine_point_widget_posts_slider .cycle-next,
#footer-widgets .magazine_point_widget_posts_slider .cycle-prev,
#footer-widgets .magazine_point_widget_posts_slider .cycle-next{
    padding: 6px 10px;
}

.sidebar  .magazine_point_widget_posts_slider .cycle-prev,
#footer-widgets  .magazine_point_widget_posts_slider .cycle-prev {
    right: 55px;
}

.sidebar .magazine_point_widget_posts_slider .cycle-pager,
#footer-widgets .magazine_point_widget_posts_slider .cycle-pager {
    bottom: 30px;
    left: 20px;
    position: absolute;
    z-index: 999;
    text-align: center;
    right: inherit;
    bottom: inherit;
    top: 20px;
}

/*--------------------------------------------------------------
### Widget tabbed post widget style
--------------------------------------------------------------*/

.magazine_point_widget_tabbed ul.tab-links {
    margin-bottom: 20px;
    overflow: hidden;
}

.magazine_point_widget_tabbed .tab-content li {
    border-bottom: 1px solid #dddddd;
    clear: both;
    float: left;
    width: 100%;
    padding: 7px 0 0 0;
    margin: 0;
}

.magazine_point_widget_tabbed  ul.tab-links li {
    border: medium none;
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 0;
}

.magazine_point_widget_tabbed .tab-content .comments-content a {
    display: inline-block;
}

.magazine_point_widget_tabbed .tabs .tab-links li.active a,
.magazine_point_widget_tabbed .tabs .tab-links li a:hover {
    background: #ee3333;
    color: #fff;
}

.sidebar .magazine_point_widget_tabbed li:before,
.sidebar .magazine_point_widget_tabbed li:after{
    display: none;
}
.magazine_point_widget_tabbed .tabs .tab-links li a {
    padding: 5px 0;
    background: #616161;
    color: #fff;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.24);
    font-size: 14px;
}
.magazine_point_widget_tabbed .comment-item-thumb,
.magazine_point_widget_tabbed .popular-item-thumb,
.magazine_point_widget_tabbed .latest-item-thumb {
    float: left;
    margin-right: 15px;
    width: 70px;
}

.magazine_point_widget_tabbed .popular-item,
.magazine_point_widget_tabbed .latest-item,
.magazine_point_widget_tabbed .comment-item {
    clear: both;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.magazine_point_widget_tabbed  .entry-meta {
    margin-top: 0;
    margin-bottom: 0;
}

.magazine_point_widget_tabbed h3 {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 500;
}

.magazine_point_widget_tabbed .comment-item-title strong {
    color: #ee3333;
    text-transform: capitalize;
}

.magazine_point_widget_tabbed .tabs {
    width: 100%;
    display: inline-block;
}

.magazine_point_widget_tabbed .tab-links li {
    display: inline-block;
}

.magazine_point_widget_tabbed .tab {
    display: none;
}

.magazine_point_widget_tabbed .tab.active {
    display: block;
}




/*--------------------------------------------------------------
### Latest News post widget style
--------------------------------------------------------------*/

.magazine_point_widget_news_block .news-block-item {
    float: left;
    padding: 0 15px;
}

.magazine_point_widget_news_block .news-block-item img {
    margin: 0;
}

.magazine_point_widget_news_block .news-block-wrapper {
    position: relative;
    transition: all 0.5s ease 0s;
    border-bottom: 5px solid transparent;
}

.magazine_point_widget_news_block .news-block-thumb {
    overflow: hidden;
    position: relative;
}

.magazine_point_widget_news_block .news-block-item img {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin-bottom: 0;
}

.magazine_point_widget_news_block .news-block-wrapper img {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin-bottom: 0;
}

.magazine_point_widget_news_block .news-block-wrapper:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.magazine_point_widget_news_block .news-block-column-2 .news-block-item:nth-child(2n+1),
.magazine_point_widget_news_block .news-block-column-3 .news-block-item:nth-child(3n+1),
.magazine_point_widget_news_block .news-block-column-4 .news-block-item:nth-child(4n+1) {
    clear: both;
}


.magazine_point_widget_news_block .news-block-column-3 .news-block-item {
    width: 33.33%;
}

.magazine_point_widget_news_block .news-block-column-4 .news-block-item {
    width: 25%;
}
.magazine_point_widget_news_block .news-block-column-2 .news-block-item {
    width: 50%;
}

.magazine_point_widget_news_block .news-block-column-1 .news-block-item {
    width: 100%;
}

.magazine_point_widget_news_block .news-block-meta .news-block-comments {
    float: right;
}

.magazine_point_widget_news_block .news-block-col-3 .news-block-meta > span {
    font-size: 15px;
}

.magazine_point_widget_news_block span.news-categories {
    position: absolute;
    bottom: 0;
    background: #ee3333;
    padding: 0px 10px;
    left: 20px;
    bottom: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.magazine_point_widget_news_block span.news-categories a {
    color: #fff;
}

.magazine_point_widget_news_block .news-block-meta::after {
    clear: both;
    content: "";
    display: flex;
}

.widget-area .magazine_point_widget_news_block .news-block-meta li {
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    color: #807a7a;
}

.magazine_point_widget_news_block .news-block-meta li span,
.magazine_point_widget_news_block .news-block-meta li a {
    display: block;
    font-size: 14px;
}

.magazine_point_widget_news_block .news-block-meta li span::before {
    content: "\f017";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 3px;
}

/*sidebar and footer widget area style*/

#footer-widgets .magazine_point_widget_news_block .news-block-widget .news-block-item,
.sidebar .magazine_point_widget_news_block .news-block-widget .news-block-item{
    margin-bottom: 15px;
    width: 100%;
}

.sidebar .news-block-widget li::before,.sidebar .news-block-widget li::after {
    display: none;
}

.news-block-layout-1  .news-block-text-wrap {
    float: left;
    width: 50%;
    padding-left: 30px;
}

.news-block-layout-1  .news-block-thumb {
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
}

.news-block-layout-1 .news-block-item {
    margin: 15px 0;
}

.news-block-layout-1 .entry-meta {
    margin-top: 0;
}

#footer-widgets .magazine_point_widget_news_block .news-block-layout-1  .news-block-thumb,
.sidebar .magazine_point_widget_news_block .news-block-layout-1  .news-block-thumb,
#footer-widgets .magazine_point_widget_news_block .news-block-layout-1  .news-block-text-wrap,
.sidebar .magazine_point_widget_news_block .news-block-layout-1  .news-block-text-wrap{
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
}

/*--------------------------------------------------------------
### Related post in single style
--------------------------------------------------------------*/
.related-posts-wrapper .related-posts-item {
    float: left;
    padding: 0 15px 15px;
}
.related-posts-wrapper .related-posts-item h3 {
    font-size: 20px;
}
.related-posts-wrapper .related-posts-item img {
    margin: 0;
}

.related-posts-wrapper .related-posts-wrapper {
    position: relative;
    transition: all 0.5s ease 0s;
    border-bottom: 5px solid transparent;
}

.related-posts-wrapper .related-posts-thumb {
    overflow: hidden;
    position: relative;
}

.related-posts-wrapper .related-posts-item img {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin-bottom: 0;
}

.related-posts-wrapper .related-posts-wrapper img {
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    margin-bottom: 0;
}

.related-posts-wrapper .related-posts-wrapper:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.related-posts-wrapper .related-posts-column-2 .related-posts-item:nth-child(2n+1),
.related-posts-wrapper .related-posts-column-3 .related-posts-item:nth-child(3n+1),
.related-posts-wrapper .related-posts-column-4 .related-posts-item:nth-child(4n+1) {
    clear: both;
}


.related-posts-wrapper.related-posts-column-3 .related-posts-item {
    width: 33.33%;
}

.related-posts-wrapper.related-posts-column-4 .related-posts-item {
    width: 25%;
}
.related-posts-wrapper.related-posts-column-2 .related-posts-item {
    width: 50%;
}

.related-posts-wrapper.related-posts-column-1 .related-posts-item {
    width: 100%;
}

.related-posts-wrapper.related-posts-col-3 .related-posts-meta > span {
    font-size: 15px;
}
.related-posts-wrapper .related-posts-meta .related-posts-comments {
    float: right;
}
.related-posts-wrapper .related-posts-meta::after {
    clear: both;
    content: "";
    display: flex;
}

.related-posts-wrapper .related-posts-meta li {
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    color: #807a7a;
}

.related-posts-wrapper .related-posts-meta li span,
.related-posts-wrapper .related-posts-meta li a {
    display: block;
    font-size: 14px;
}

.related-posts-wrapper .related-posts-meta li span::before {
    content: "\f017";
    display: inline-block;
    font-family: fontawesome;
    margin-right: 3px;
}
 .related-posts-wrapper {
    overflow: hidden;
    margin-bottom: 15px;
}
.related-posts-wrapper h4 {
    font-size: 28px;
    border-bottom: 2px solid #f1f0f0;
    margin-bottom: 35px;
    padding-bottom: 20px;
}

/*--------------------------------------------------------------
##  Media Queries By Axle Themes
--------------------------------------------------------------*/

/* Smaller than standard 1300 (devices and browsers) */
@media only screen and (max-width:1300px) {
    .site-layout-boxed #page, .container {
        width: 97%;
        padding: 0 15px;
    }

    .comments-area form#commentform p {
        float: left;
        width: 100%;
    }

    #comments input {
        width: 100%;
    }

    #comments input#submit {
        width: auto;
    }

}
/* Smaller than standard 1139 (devices and browsers) */
@media only screen and (max-width:1139px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }
    #featured-news .featured-news-title {
        font-size: 17px;
    }
    .header-ads-area {
        float: right;
        max-width: 60%;
    }
    .site-title {
        font-size: 31px;
    }
    .site-description {
        font-size: 16px;
    }
    #featured-news .featured-news-text-content {
        padding: 10px;
    }
    .news-block-layout-1 .news-block-text-wrap {
        float: left;
        width: 100%;
        padding-left: 0px;
    }
    .news-block-layout-1 .news-block-thumb {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px) {

    td,
    th {
        font-size: 12px;
        padding: 2px;
        text-align: center;
    }


    .main-navigation ul ul a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .magazine_point_widget_news_block .news-block-meta .news-block-comments {
        clear: both;
        display: block;
        float: none;
    }

    .magazine_point_widget_testimonials .testimonial-widget {
        margin: 0;
    }

    #featured-news .featured-news-item.main-featured-news-item {
        width: 100%;
    }

    #featured-news .featured-news-item {
        float: left;
        width: 50%;
    }

    #featured-news .featured-news-item img {
        width: 100%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:900px) {

    a.custom-logo-link {
        max-width: 200px;
        margin: 0 auto 15px;
    }
    .header-search-box .search-box-wrap {
        top: 85px;
        padding: 30px 60px;
    }

    #featured-news {
        padding: 20px 0;
        border-top: 2px solid #cec5c5;
    }

    #tophead {
        text-align: center;
        margin-top: 45px;
    }

    #notice-ticker {
        max-height: 23px;
        max-width: 250px;
    }

    .right-tophead {
        width: 100%;
    }

    #header-social {
        float: left;
    }




    .three-columns-enabled #primary {
        display: inline-block;
        float: none;
        width: 100%;
    }

    .global-layout-three-columns .sidebar {
        float: left;
        width: 50%;
    }

    body{
        padding-top: 0;
    }

    .site-layout-boxed #page {
        padding-top: 0;
    }

    #main-nav {
        display: none;
    }

    .enabled-sticky-primary-menu.sidr-open #masthead.fixed {
        position: relative;
        top: 89px;
    }

    .enabled-sticky-primary-menu #masthead.fixed {
        top: 46px;
    }

    .enabled-sticky-primary-menu.admin-bar #masthead.fixed {
        top: 87px;
    }

    .sidr-open #mobile-trigger {
      transition: inherit;
    }

    #mobile-trigger {
        background: #303030 none repeat scroll 0 0;
        display: block;
        left: 0;
        padding: 5px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999;
    }

    .logged-in #mobile-trigger {
        top: 45px;
    }

    .sidr-open #mobile-trigger {
        padding-left: 275px;
        text-align: left;
        transition: inherit;
    }

    #masthead {
        text-align: center;
    }

     #mobile-trigger i {
        box-shadow: 0px 0px 2px #000000;
        color: #ffffff;
        font-size: 24px;
        padding: 6px 8px;
    }

    .site-layout-boxed #page {
        margin-top: 70px;
    }

    .sidr ul li ul li a, .sidr ul li ul li span {
        line-height: 1.5;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-top: 10px !important;
    }

    body .sidebar,
    body #primary {
        width: 100%;
    }

    .inner-wrapper {
        margin-left: -10px;
        margin-right: -10px;
    }

    #primary,
    .sidebar,
    #colophon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .site-branding,
    #site-identity,
    .site-title {
        float: none;
        display: block;
        text-align: center;
        margin-right: 0;
    }
    .header-ads-area {
        float: right;
        max-width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .custom-logo-link {
        float: left;
        max-width: 100%;
        float: none;
        display: block;
        margin: 0 auto 15px;
        text-align: center;
    }
    .article-wrapper {
        padding: 30px 15px 25px 30px;
        margin-bottom: 40px;
    }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
    #content,
    #sidebar-front-page-widget-area-bottom {
        clear: both;
        padding: 30px 0;
    }
    .article-wrapper {
        padding: 20px 0 0;
        margin-bottom: 30px;
    }
    .comment .comment-body {
        padding-left: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    h4 {
        font-size:16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    .site-layout-boxed #page .container  {
        width: 100%;
        padding: 0 15px;
    }

    .enabled-sticky-primary-menu #masthead.fixed {
        position: inherit;
        top: inherit;
    }


    .site-layout-boxed #page {
        width: 90%;
        padding: 0 15px;
    }

    .container {
        padding: 0 15px;
    }

    #tophead {
        text-align: center;

    }

    .site-branding {
        text-align: left;
    }

    .site-content {
        padding-top: 15px;
    }



    /*sidebar layout*/

    #primary,
    #sidebar-primary,
    #sidebar-secondary {
        width: 100%;
        clear: both;
        float: none;
    }

    .global-layout-three-columns #primary,
    .global-layout-three-columns .sidebar {
        display: inline-block;
        float: none;
        width: 100%;
    }

    /*footer widget area*/

    .sibebar{
        margin-top: 15px;
    }

    #footer-widgets .widget-column{
        float: left;
        padding: 0 15px 20px 0;
        width: 50%;
    }

    #footer-widgets .widget-column:nth-child(3n) {
        clear: both;
    }


    .magazine_point_widget_news_block .news-block-widget .news-block-item,
    #primary .related-posts-wrapper .related-posts-item{
        width: 50%;
    }


    #footer-widgets {
        padding: 30px 15px;
    }

    #colophon .copyright,
    #colophon .site-info {
        clear: both;
        text-align: center;
        width: 100%;
    }

    .magazine_point_widget_news_block .news-block-meta > span.posted-on,
    .magazine_point_widget_news_block .news-block-meta > span.comments-link {
        float:none;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {
    body {
        font-size: 15px;
        line-height: 1.6;
    }
    .header-search-box > a {
        display: block;
        float: none;
        margin: 0 auto;
        height: 30px;
        padding: 5px;
    }

    .header-search-box {
        float: none;
    }

    .header-search-box .search-box-wrap {
        top: 120px;
        padding: 10px 15px;
        text-align: center;
    }

    .top-news-title {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }

    #notice-ticker {
        max-height: 23px;
        max-width: 280px;
        padding: 0;
    }

    .magazine_point_widget_news_block .news-block-widget .news-block-item {
        width: 100%;
    }

    .magazine_point_widget_news_block .news-block-col-4 .news-block-item {
        width: 100%;
    }

    #header-social {
        clear: both;
        float: none;
        text-align: center;
        width: 100%;
    }

    #sidebar-front-page-widget-area .widget-title {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }

    #footer-widgets .footer-widget-area {
        width: 100%;
    }

    #footer-widgets .footer-widget-area:first-child {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    #footer-widgets .widget-column {
        width: 100%;
        padding-top: 15px;
        border-top: 1px solid #fff;
        margin-top: 15px;
    }

    .site-description {
        margin-bottom: 0;
    }

    .magazine_point_widget_news_block .news-block-widget .news-block-item,
    #primary .related-posts-wrapper .related-posts-item  {
        width: 100%;
    }

    .search-form input.search-field {
        width: 76%;
    }

    .search-box .search-box-wrap {
        right: 3%;
        width: 263px;
    }

    .social-links {
        float: right;
        max-width: 208px;
        text-align: right;
    }

    .social-links .magazine_point_widget_social li {
        display: inline-block;
        float: none;
    }

    .search-box {
        float: right;
        position: relative;
        width: 33px;
    }

    .site-layout-boxed #page .container {
        padding: 0;
        width: 100%;
    }

    .right-head {
        float: inherit;
    }

    .cart-section{
        float: left;
    }

    #masthead.fixed .right-head,
    #masthead .right-head {
        border-top: 1px solid #dddddd;
        clear: both;
        float: left;
        margin: 10px 0 0;
        padding: 23px 0 10px;
        width: 100%;
    }

    .right-head .header-search-box .search-box-wrap {
        top: 31px;
        width: 280px;
    }

    #featured-news .featured-news-text-content {
        padding: 10px;
        position: inherit;
        padding: 20px!important;
        background: #868585;
    }

    #featured-news .featured-news-item {
        width: 100%;
    }

    .magazine_point_widget_posts_slider .cycle-pager {
        display: none;
    }

    .magazine_point_widget_posts_slider .slide-caption {
        position: relative;
        bottom: inherit;
        max-width: 100%;
        padding: 10px;
        background-color: #616161;
    }
    #primary img.magazine-point-post-thumb {
        vertical-align: middle;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .magazine_point_widget_posts_slider h3 {
        font-size: 16px;

    }
    .blog #primary .hentry, .archive #primary .hentry {
        margin-bottom: 30px;
    }
}

